.recent-section {
    -fx-background-color: transparent;
    -fx-padding: 0;
}


.album-grid {
    -fx-background-color: transparent;
}

.slider .track {
    -fx-background-color: #e0e6f0;
    -fx-background-radius: 4;
}

.welcome-label {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #111827;
    -fx-padding: 0 0 10 0;
}

.section-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #111827;
}